<style type="text/css">
  .login-link { color: #333333; }
</style>
<div id="sign-in">
  <%= form_for(:session, :url => sessions_path) do |f| %>
  <% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <fieldset class="user">
    <legend>Sign In</legend>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, :title => 'enter your email address' %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "Sign In" %>
    </div>
    <%= link_to 'Forget your password?', forgot_password_path, :class => 'forget' %>
  </fieldset>
  <% end %>
</div>
<div class="page-footer"><%= render 'shared/footer' %></div>
