<div id="forget">
  <%= form_for(:forgot_password, :url => forgot_password_path) do |f| %>
  <% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <div id="new-pass">Submit your email to receive a new password:</div>
  <div class="user">
    <%= text_field "user", "email", :title => "enter your email address" %>
    <%= submit_tag 'Submit' %>
  </div>
  <% end %>
</div>
<div class="page-footer" id="password-footer"><%= render 'shared/footer' %></div>
