<style type="text/css">
  .register-link { color: #333333; }
</style>
<div id="register">
  <% form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <fieldset class="user">
    <legend>Sign up to CrunchAlert</legend>
    <div class="user-register">
      <%= f.label :email %>
      <%= f.text_field :email, :title => 'enter your email address' %>
    </div>
    <div class="user-register">
      <%= f.label :password, 'Password' %>
      <%= f.password_field :password  %>
    </div>
    <div class="user-register">
      <%= f.label :password_confirmation, 'Confirm' %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="user-register">
      <%= f.submit "Register", :class => "submit" %>
    </div>
  </fieldset>
  <% end %>
</div>
<div class="page-footer"><%= render 'shared/footer' %></div>
