<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>




<td><%= link_to 'Account', edit_user_path(@user) %></td>

<%= link_to 'Logout', logout_path, :method => :delete %>
