<%= form_for(@alert, :remote => true) do |f| %>

  <div class="field">
    <%= f.text_field(:content) %>
  </div>

<br /><br />

<%= radio_button_tag(:cbase, "company") %>
<%= label_tag(:company, "Company") %>
<%= radio_button_tag(:cbase, "person") %>
<%= label_tag(:person, "Person") %>
<%= radio_button_tag(:cbase, "financial-organization") %>
<%= label_tag(:fund, "Venture Fund") %>

<br /><br />

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

<% end %>

    <ul id="my_list">
      <li>Original item... please add more!</li>
    </ul>
