<%= form_for(@alert, :remote => true) do |f| %>

  <div class="field">
    <%= f.text_field(:content) %>
  </div>

<br /><br />

<%= radio_button_tag(:cbase, "company") %>
<%= label_tag(:company, "Company") %>
<%= radio_button_tag(:cbase, "person") %>
<%= label_tag(:person, "Person") %>
<%= radio_button_tag(:cbase, "financial-organization") %>
<%= label_tag(:fund, "Venture Fund") %>

<br /><br />

<%= select(:alert, :freq, options_for_select([['Daily', true], ['Weekly', false]])) %>

<br /><br />

<%= check_box(:alert, :news, {}, true, false) %>
<%= label_tag(:news, "Include TechCrunch & TechMeme news updates") %>

<br /><br />

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

<% end %>

    <ul id="link">
      <li>Original item... please add more!</li>
    </ul>

    <ul id="pic">
      <li>Original item... please add more!</li>
    </ul>

<img src="http://www.crunchbase.com/assets/images/resized/0000/4561/4561v1-max-250x250.png" border="0" alt="Facebook Picture">

