
<div id="alert_sidebar">

<%= render 'popular' %>
<%= render 'recent' %>

</div>


<div class='button ui-widget ui-helper-clearfix icons'><li class='ui-state-default ui-corner-all'><span class='ui-icon ui-icon-plus'></span></li></div>

<div class="edit_button"><b>Edit</b></div>


<% if !signed_in? %>

<div id="intro"> 

Sign up to receive updates on your favorite tech companies and people. <br /><br />

Once you register, you'll be able to receive email updates on any CrunchBase profile you want to track. You can also sign up to get a round-up of the latest tech news and deals in your inbox too.

</div>

<% end %>


<% if !signed_in? %>
<%= render 'yesterday_news' %>
<% end %>


<% if signed_in? %>

<%= render 'crunchbase_form' %>
<%= render 'news_form' %>

<br />
<br />

<div id="input">
</div>

<br />
<br />


<div id="alert_list">

<% @alerts.each do |alert| %>

<div class="crunchalert" id="<%= alert.content %>">
  <% name = alert.content.gsub(/[\s\.]/,'-') %>
  <a href=<%= "http://crunchbase.com/#{alert.content_type}/#{name}" %>><%= image_tag(Picture.find_by_content(alert.content).url) %></a>
  <span class="edit_alert">Edit</span>
</div>

<% end %>

</div>

<% end %>
