
<%= render 'popular' %>

<%= render 'recent' %>

<% if !signed_in? %>
<%= render 'yesterday_news' %>
<% end %>

<% if signed_in? %>

<%= render 'crunchbase_form' %>
<%= render 'news_form' %>

<br />
<br />

<div id="input">
</div>

<br />
<br />

<% @alerts.each do |alert| %>

<div class="crunchalert" id="<%= alert.content.delete(' ') %>">
  <% name = alert.content.gsub(/[\s\.]/,'-') %>
  <a href=<%= "http://crunchbase.com/#{alert.content_type}/#{name}" %>><%= image_tag(Picture.find_by_content(alert.content).url) %></a>
  <span class="edit_alert">Edit</span>
</div>

<% end %>

<% end %>
